# NPM Registry Configuration for Capawesome Premium Plugins
# https://capawesome.io/plugins/

@capawesome-team:registry=https://npm.registry.capawesome.io
//npm.registry.capawesome.io/:_authToken=${CAPAWESOME_TOKEN}
