# NPM Registry Configuration for Capawesome Premium Plugins
# https://capawesome.io/plugins/

@capawesome-team:registry=https://npm.capawesome.io
//npm.capawesome.io/:_authToken=POLAR-FA3A18F4-A45F-4DAF-8A58-EF5DCA0E53D8
